@model List<Book>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<h1>Usage of passing Class Value To View</h1>
<table class="table">
    @{
        foreach (var book in Model)
        {
            <tr>
                <td>@book.BookName</td>
                <td>@book.BookAuthor</td>
                <td>@book.BookType</td>
                <td>@book.BookYear</td>
            </tr>
        }
    }
</table>

<h1>Usage of View Data</h1>
<table class="table">
    @{
        var data = (Book)ViewData["BookDetails"];
        <tr>
            <td>@data.BookName</td>
            <td>@data.BookAuthor</td>
            <td>@data.BookType</td>
            <td>@data.BookYear</td>
        </tr>
    }
</table>


<h1>Usage of View Bag</h1>
<table class="table">
    @{
        var dataDetails = ViewBag.BookDetails;
        <tr>
            <td>@dataDetails.BookName</td>
            <td>@dataDetails.BookAuthor</td>
            <td>@dataDetails.BookType</td>
            <td>@dataDetails.BookYear</td>
        </tr>
    }
</table>

<a asp-controller="Home" asp-action="TestView">Test Page</a>

<h3> Hey! @TempData["data"] </h3>